.branding__link {
  display: block;
}

.branding__logo {
  vertical-align: middle;

  @media (--before-desktop-viewport) {
    width: 110px;
  }

  @media (--desktop-viewport) {
    margin-left: -0.2em;
  }
}
