.footer {
  color: var(--color);
}

.footer__inner {
  @mixin containerMain;

  padding-left: 4rem;
  padding-right: 3.3rem;

  display: flex;
  align-items: center;

  &::after {
    display: block;
    min-height: 6.9rem;
    content: "";
  }
}

.footer__item {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #252525;

  &:nth-child(2) {
    flex-grow: 1;
    text-align: center;
  }
}

.footer__colored {
  color: #000;
}
